rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    match /children/{childId} {
      allow read, write: if isSignedIn();
    }
    match /lessonAreas/{areaId} {
      allow read, write: if isSignedIn();
    }
    match /lessons/{lessonId} {
      allow read, write: if isSignedIn();
    }
    match /childLessonRecords/{recordId} {
      allow read, write: if isSignedIn();
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
